//@import "~animate.css/source/_base.css";
//@import "~animate.css/source/attention_seekers/bounce.css";
//@import "~animate.css/source/bouncing_entrances/bounceInDown.css";
//@import "~animate.css/source/bouncing_entrances/bounceInUp.css";
//@import "~animate.css/source/fading_entrances/fadeInDown.css";
//@import "~animate.css/source/fading_entrances/fadeInUp.css";
@tailwind base;
@tailwind utilities;
@tailwind components;
